.navbar {
  // position: fixed;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  background-color: transparent;
  display: inline-block;
  padding: 1.5rem 0;
  .navbar-nav {
    .nav-item {
      .nav-link {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        padding: 3px 1px;
        margin: 0 15px;
        border-bottom: 2px solid transparent;
        transition: all 0.2s;
        &:hover {
          color: #f4f4f4;
        }
        &.active {
          border-bottom: 2px solid white;
        }
      }
    }
  }
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg-img.jpg");
  @include bgCover();
  @include flexCenter();
  flex-direction: column;
  height: 100vh;
  color: #fff;
  & > * {
    margin-bottom: 0;
  }
  &__hello {
    font-size: 5rem;
    font-weight: 400;
  }
  &__name {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  &__desc {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
  }
}
